body {
  margin: 0;
  height: 100%;
  width: 100%;
}
.analog-clock {
  background-color: cornflowerblue;
  font-size: 100%;
  font-family: 'Mali', cursive, sans-serif;
  padding: 25%;
}

svg{
  background-color: pink;
  /* svg is inline by default, css to center */
  margin: auto;
  display: block;
}

#clock-face {
  stroke: black;
  stroke-width: 2px;
  fill:white;
  

}

#h-hand, #m-hand, #s-hand, #s-tail {
  stroke: black;
  stroke-linecap: round;
}

#h-hand {
  stroke-width: 3px;
}

#m-hand {
  stroke-width: 2px;
}

#s-hand {
  stroke-width: 1px;
}

.time-text {
  text-align: center;
}